  body {
    font-size: 16px;
    line-height: 1.8;
    font-weight: normal;
    background: #6b6464;
    }

  .pointer:hover{
    cursor: pointer;
  }

  .ftco-section {
    padding: 8% 0; }
  
  .ftco-no-pt {
    padding-top: 0; }
  
  .ftco-no-pb {
    padding-bottom: 0; }
  
  .heading-section {
    font-size: 28px;
    color: #000; }
  
  
  
  .wrap {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }
  
  .text-wrap, .login-wrap {
    width: 50%; }
    @media (max-width: 991.98px) {
      .text-wrap, .login-wrap {
        width: 100%; } }
  
  .text-wrap {
    background: #18169e;
    color: #fff; }
    .text-wrap .text h2 {
      font-weight: 900;
      color: #fff; }
  
      .login-wrap {
        position: relative;
        background: rgb(241, 239, 239); }
        .login-wrap h3 {
          font-weight: 300; }
 
  
 
          .loader {
            border: 16px solid #f3f3f3; /* Light grey */
            border-top: 16px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            margin: auto;
          }
          @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
          }

   
    
    
     
        
  