.card-tamanho{
    height:100vh;
    background-color: black;
    /* background: radial-gradient(#76b2fe, #b69efe); */
}

.color-fonte{
    color: white
}

.header-tamanho{
    /* background-color: aqua */
    height:7vh
}

.color-body{
    /* background: radial-gradient(#1fe4f5, #3fbafe); */
    background: radial-gradient(#4c67d3, #043048)
}

.cor-fundo{
    /* background: radial-gradient(#76b2fe, #b69efe); */

    background: radial-gradient(#4c67d3, #043048);
}

.cor-fonte{
    color: white;
}

.tamanho-titulo{
    font-size:75px;
}

.tamanho-paciente{
    font-size:90px;
}

.centralizar{
    display: flex;
    align-items: center;
    justify-content: center; 
}